<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<!--<h1 th:text="${welcomeMessage}">Hello, Home Page!</h1>-->
<form th:object="${newMessage}" th:action="@{/home}" action="#" method="POST">
    <label for="newMessageText">Submit a New Message</label>
    <input type="text" id="newMessageText" name="newMessageText" th:field="*{text}">
    <input type="submit">
</form>
<h1
        th:each="msg: ${greetings}"
        th:text="${msg}"
        th:unless="${msg.contains('GoodBye')}"
>Helllo, homepage!</h1>
</body>
</html>